@media screen and (max-width: 768px){
    
    #container{
        width: 264px;
        height: 284px;
        margin-left: -132px;
        margin-top: -142px;
    }

    #container > div#product-description{
        margin-left: -23px;
    }

}